.list {
  background-color: #72e9cf;
  margin-top: 2rem;
  max-height: 50vh;
  overflow-y: scroll;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.show-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
.info {
  width: 40%;
  height: 50vh;
}

.episode-info {
  height: 100%;
}

.list li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.list ul {
  display: flex;
  align-content: space-around;
  flex-direction: column;
}

/*media queries*/
@media only screen and (max-width: 900px) {
  .show-container {
    flex-direction: column;
  }
  .info {
    width: 100%;
    margin: 0.5rem;
    border: 1px solid black;
  }
  .list {
    width: 100%;
    margin: 0.5rem;
    border: 1px solid black;
  }
}
