body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;

}

h1 {
    font-size: xxx-large;
    font-weight: bolder;
}

h2 {
    font-size: xx-large;
    font-weight: bolder;
}


footer {
    height: 10rem;
}




a {
    text-decoration: none;
    font-size: large;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    position: relative;
}

a:after {
    border-radius: 1em;
    border-top: .05em solid #FBFAF7;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .07em;
    left: 0;
    transition: right .4s cubic-bezier(0, .5, 0, 1);
}

a:hover:after {
    right: 0;
}

footer {
    margin-top: 10rem;
}

li {
    list-style-type: circle;
}

.header {
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
}

.section-header {
    background-color: #BB103D;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    height: 10rem;
}

.right-section {
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    flex-shrink: 1;
}

.left-section {
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;
    flex-shrink: 1;
}

.section-img {
    width: 40%;
}

.section-image {
    width: 100%;
    height: 100%;
}

.logo {
    height: 90%;
}

.nav-header {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.section-text {
    width: 50%;
    margin: 0;
    padding: 1rem;
    font-size: x-large;
}

.skills {
    display: flex;
    flex-direction: column;
}

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.made {
    align-self: flex-end;
}

.nav-option {
    margin: 1rem;
}


/*colors*/
.first-color {
    background-color: #3D9CA7;
}

.second-color {
    background-color: #1A3736;
}

.third-color {
    background-color: #FBFAF7;
}

.has-light-font {
    color: #FBFAF7;
}

.h-color {
    color: #C8F7C5;
}


.general-font {
    font-family: 'Noto Sans JP', sans-serif;
}

.box-shadow {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.animated-box-shadow {

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.animated-box-shadow:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}



/*dropdowx*/
/*dropdown*/

.dropdown {
    position: relative;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 15rem;
    z-index: 1;
    right: 0;

}

.dropdown-format {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}






/*media queries*/
@media only screen and (max-width: 900px) {
    .left-section {
        flex-direction: column;
    }

    .right-section {
        flex-direction: column-reverse;
    }

    .nav-header {
        display: none;
    }

    .section-text {
        width: auto;
    }

    .section-img {
        width: auto;
    }

    h1 {
        font-size: xx-large;
    }

    .dropdown {
        display: inline-block;
    }
}


/*animation*/
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes fadeOut {
    from {
        opacity: 100;
    }

    to {
        opacity: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}


.rotate-animation {
    animation: rotate 2s 1 linear;
}
.fadeout-animation {
    animation: fadeOut 1s 1 linear;
}
.fadein-animation {
    animation: fadeIn 1s 1 linear;
}