body {
   margin: 0;
}

.aside-table {
   border: 1px solid lightgray;
}

ol {
   list-style-type: none;
   counter-reset: item;
   margin: 0;
   padding: 0;
}

ol>li {
   display: table;
   counter-increment: item;
   margin-bottom: 0.6em;
}

ol>li:before {
   content: counters(item, ".") ". ";
   display: table-cell;
   padding-right: 0.6em;
}

li ol>li {
   margin: 0;
}

li ol>li:before {
   content: counters(item, ".") " ";
}

.navigation {
   border: 1px solid lightgray;
   width: 25rem;

}

.aside-div {
   border: 1px solid lightgray;

}

main {
   margin-left: 10.65rem;
   padding-left: 0.625rem;
   padding-right: 0.625rem;
   bottom: 9.375rem;
   padding-top: 5rem;
   padding-bottom: 9.735rem;
}

.aside-right {
   float: right;
}

.left-menu {
   padding-right: 1.3rem;
   width: 9.375rem;
   background-color: #e3e1e1;
   height: 100%;
   position: absolute;
}

.left-menu ul {
   list-style-type: none;
   padding-left: 1rem;
}


.right-nav {
   float: right;
}


.footer {
   background-color: #e3e1e1;
   height: 9.375rem;
   margin-left: 10.65rem;
   width: calc(100% - 11rem);
   position: absolute;
   bottom: 0;

}

.top-header {
   background-color: #e3e1e1;
   height: 5rem;
   margin-left: 10.65rem;
   position: absolute;
   top: 0;
   width: calc(100% - 11rem);
}

.container {
   position: relative;
}

.left-nav {
   float: left;
}

.header-nav {
   margin-top: 3rem;
}

.asides {}

.four {
   overflow: auto;
   float: left;
}

li {
   margin: 0.125rem;
}

nav a {
   margin: 0.125rem;
}