.aside-table {
   border: 1px solid black;
}

ol {
   list-style-type: none;
   counter-reset: item;
   margin: 0;
   padding: 0;
}

ol>li {
   display: table;
   counter-increment: item;
   margin-bottom: 0.6em;
}

ol>li:before {
   content: counters(item, ".") ". ";
   display: table-cell;
   padding-right: 0.6em;
}

li ol>li {
   margin: 0;
}

li ol>li:before {
   content: counters(item, ".") " ";
}

.navigation {
   border: 1px solid black;
   width: 400px;
   position: absolute;
}

.aside-div {
   border: 1px solid black;
   width: fit-content;
}

main {
   border: 1px solid lightgray;
}

.aside-right {
   float: right;
}

.left-aside {
   float: left;
}

.left-aside ul {
   list-style-type: none;
   height: 100%;
}